<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="vendor/autoload.php">

    <php>
        <!--<ini name="error_reporting" value="-1" />-->
    </php>

    <testsuites>
        <testsuite name="Regexp Facade Unit Test Suite">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <!--<directory></directory>-->
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="tmp/coverage/html"/>
    </logging>
</phpunit>
